body {
    max-width: 700px;
    margin: auto;
    line-height: 1.2;
    background-image: url('images/unicorn.gif');
    color: white;
    text-shadow: 2px 2px black;
}

img {
    max-width: 700px;
    margin-bottom: 50px;
}

ul {
    margin-bottom: 50px;
}

aside {
    margin-bottom: 50px;
    font-size: 14px;
}

li {
    margin-bottom: 10px;
}

div {
    margin-bottom: 15px;
}
